@import "tailwindcss";

@theme {
  --color-primary: #00e677;
  --color-background-light: #f5f8f7;
  --color-background-dark: #0f2319;
  --color-asphalt: #37474F;
  
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
  --font-display: var(--font-display), ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-background-light text-asphalt font-sans antialiased;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
